* ,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: 100%;
}


img {
    height: auto;
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1 , h2 , h3 {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

