.about__section {
    margin-top: 40px;
    padding-top: 100px;
}

.about__container {
    width: 100%;
    height: 690px;
    display: flex;
    .about__texts {
        align-items: flex-end;
        text-align: right;
        max-width: 500px;
        
        .about__square {
            float: right;
            display: block;
        }

        .about__desc--text {
            margin-top: 70px;
            line-height: 1.8;
            margin-bottom: 20px;
            color: $desc__text;
        }

        .text {
            margin-top: 70px;
            font-style: italic;
        }

        .name {
            color: $desc__text;
            text-transform: uppercase;
            margin-top: 20px;
        }
    }
}