.contact__container {
    display: flex;
    align-items: flex-start;
    padding-top: 70px;
    margin-top: 100px;
    min-height: 600px;
    justify-content: space-between;
    .contact__img {
        width: 700px;
    }

    .contact__texts {

        input {
            display: block;
            padding: 10px 20px;
            border: 2px solid $pink;
            border-radius: 4px;
            width: 300px;
            margin-bottom: 20px;

            &:nth-child(1) {
                margin-top: 70px;
            }
        }

        .btns {
            .btn {
                margin-right: 20px;
            }
        }


        .square {
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}