footer {
    .chiziq {
        margin-bottom: 20px;
        width: 100%;
        height: 2px;
        background-color: $black;
    }
}

.footer__container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer__texts {
        max-width: 600px;
        display: flex;
        flex: 1 1 50%;
        justify-content: space-between;

        h2 {
            color: $pink;
            margin-bottom: 20px;
        }

        a {
            display: block;
            color: $desc__text;
            font-size: 18px;
            font-weight: 500;
            line-height: 2.5;

            &:hover {
                color: $black;
            }
        }


    }

    .footer__logo {
        margin-right: 100px;

        .btn {
            color: $pink;
            font-weight: 500;
            font-size: 18px;

            &:hover {
                color: $white;
            }
        }

        img {
            width: 120px;
            display: block;
            margin-top: -30px;
            margin-bottom: 20px;
        }
    }
}