html {
    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
        border: 2px solid $pink;
        border-radius: 3px;
    }
}